.about-section {
    width: 60%;
   
    margin-top: 100px;
    align-items: center;
    align-content: center;
    margin-left: 100px;


}

.about {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 50%;
    padding: 0px 0px 0px 300px;
    gap: 50px;
    line-height: 25px;
}

.about-heading {
    font-size: 26px;
    margin-left: 290px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

.about-heading::before {
    position: relative;

    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    color: #64ffda;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
    ;
    font-size: clamp(16px, 3vw, 20px);
    font-weight: 400;
}

.about-heading::after {
    content: "";
    display: block;
    position: relative;
    margin-top: -14px;
    width: 300px;
    height: 1px;
    margin-left: 190px;
    background-color: #495670;
}

.aboutme p {
    width: 550px;
    height: 300px;
}

.image {
    position: relative;
    display: inline-block;
    margin-left: 20px;
}

.about-img{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating{
    0%{
        transform: translate(0,-10px);
    }
    50%{
        transform: translate(0, 10px);
    }
    100%{
        transform: translate(0,-10px);
    }
}

.about-img img {
  
   mix-blend-mode: multiply;
   filter: brightness(0.7);
    position: absolute;
    display: block;
    width: 300px;
    height: auto;
    transition: transform 0.3s ease;
    border-radius: 10px;
    background: #64ffda;

}
.background{
    z-index: -1;
    position: absolute;
        display: block;
        width: 300px;
        height: 320px;
        transition: transform 0.3s ease;
        border-radius: 10px;
        background-color: #64ffda;
}

.image:hover .about-img img {
    transform: translateX(-2px) translateY(-2px);
    mix-blend-mode: normal;
    filter: brightness(1);
    transition-property: transform, mix-blend-mode, filter;
        transition-duration: 400ms;
        transition-timing-function:ease-in;
}
.image:hover .about-img .background {

    transform: translateX(-2px) translateY(-2px);
    transition-property: transform;
        transition-duration: 400ms;
        transition-timing-function: ease-in-out;
    
}

.border {
    position: absolute;
    border-radius: 10px;
    width: 298px;
    height: 320px;
    margin-left: 10px;
    margin-top: 10px;
    z-index: -1;
    border: 2px solid #64ffda;
    transition: transform 0.3s ease;
}

.image:hover .about-img .border{
    transform: translateX(2px) translateY(2px);
}

@media(max-width:1440px){
    .about-section{
        margin-left: -100px;
    }
}

@media(max-width:1024px){
    .about-section {
            width: 90%;
    
            margin-top: 100px;
    
            margin-left: -180px;
    
    
        }
    
        .about {
            margin-top: 50px;
            display: flex;
       
            width: 90%;
            padding: 0px 0px 0px 300px;
            gap: 40px;
    
        }
    
    
    
        .aboutme p {
            font-size: 14px;
            width: 400px;
            height: auto
        }
    
        .image .about-img{
            position: relative;
            display: inline-block;
            margin-left: -370px;
            
        }
    
        .about-img img {
    
    
            width: 280px;
            height: auto;
    
    
        }
    
        .background {
            width: 280px;
            height: 300px;
        }
        .border{
            height: 300px;
            width: 280px;
        }
}
 
@media (max-width: 768px) {
    .about-section {
            width: 90%;
    
            margin-top: 100px;
    
            margin-left: -210px;
    
    
        }
    
        .about {
            margin-top: 50px;
            display: flex;
            flex-direction: column;
            width: 90%;
            padding: 0px 0px 0px 300px;
            gap: 40px;
    
        }
    
        .about-heading {
            width: 150px;
            font-size: 20px;
            margin-left: 300px;
            font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
        }
    
        .about-heading::before {
            margin-right: 10px;
            }
    
        .about-heading::after {
            width: 200px;
        }
    
        .aboutme p {
            width: auto;
            height: auto
        }
    
        .image {
            position: relative;
            display: inline-block;
            margin-left: 520px;
            align-content: center;
            
        }
    
        .about-img img {
    
    
            width: 300px;
            height: auto;
    
    
        }
        .background{
            width: 300px;
            height: 320px;
        }
        .border{
            width: 300px;
                height: 320px;
            
        }
}



@media (max-width: 500px) {

    .about-section {
            width: 100%;
    
            margin-top: 50px;
           
            margin-left: -270px;
    
    
        }
    
        .about {
            margin-top: -30px;
            display: flex;
            flex-direction: column;
             width: 90%;
            padding: 0px 0px 0px 300px;
            gap: 40px;
            
        }
    
        .about-heading {
            width: 150px;
            font-size: 20px;
            margin-left: 300px;
            font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
        }
    
      
    
        .about-heading::after {
            margin-left: 150px;
            width: 150px;
        }
    
        .aboutme p {
            font-size: 16px;
            width: auto;
            height: auto
            
        }
    
        .image {
            position: relative;
            display: inline-block;
            margin-left: 420px;
        }
    
        .about-img img {
    
         
            width: 270px;
            height: auto;
          
    
        }

        .background{
            width: 270px;
            height: 289px;
        }
        .border{
            width: 270px;
            height: 289px;
        }
    
     
    
       
}
@media (max-width: 375px) {

    .about-section {
        width: 90%;

        margin-top: 50px;

        margin-left: -270px;


    }

    .about {
        margin-top: -30px;

        width: 90%;
        padding: 0px 0px 0px 300px;
        gap: 40px;

    }

    .about-heading {
        width: 150px;
        font-size: 20px;
        margin-left: 300px;
        
    }

    .about-heading::before {
        margin-right: 10px;
       
       
       
    }

    .about-heading::after {
        width: 100px;
        margin-left: 150px;
    }

    .aboutme p {
        font-size: 14px;
        width: auto;
        height: auto
    }

    .image {
        position: relative;
        display: inline-block;
        margin-left: 400px;
    }

    .about-img img {


        width: 250px;
        height: auto;


    }
    .background{
        width: 250px;
        height: 265px;
    }

    .border {
        width: 250px;
        height: 265px;
    }






}

 
@media (max-width: 320px) {

    .about-section {
        width: 95%;

        margin-top: 50px;

        margin-left: -270px;


    }
        .about {
        margin-top: -10px;
       
        width: 90%;
        padding: 0px 0px 0px 300px;
        gap: 40px;

    }

    .about-heading {
        width: 150px;
        font-size: 20px;
        margin-left: 300px;
    }

    .about-heading::before {
        margin-right: 10px;
       
    }

    .about-heading::after {
        width: 100px;
        margin-left: 150px;
    }

    .aboutme p {
        font-size: 14px;
        width: auto;
        height: auto
    }

    .image {
        position: relative;
        display: inline-block;
        margin-left: 370px;
    }

    .about-img img {


        width: 250px;
        height: auto;


    }
    .background{
        width: 250px;
        height: 265px;
    }
    .border{
        width: 250px;
        height: 265px;
    }






}