.nav-right {
  display: flex;
  justify-content: space-around;
  align-items: center;

  margin-left: -25px;
}

ol {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
  margin-right: 40px;
  list-style: none;
}

ol li {
  margin: 0 5px;
  position: relative;
  counter-increment: item 1;
  font-size: 1.5rem;
}

ol li a {
  width: 50px;
  
  text-decoration: none;
  color: #a8b2d1;
  font-size: 14px;
  font-family: "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

ol li:link,
li:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;

  text-transform: uppercase;

  color: #a8b2d1;
  transition: color 0.3s linear;
}

ol li::before {
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: #64ffda;
  font-weight: 600;
  font-size: 16px;
  text-align: right;
}

ol li :hover {
  color: #64ffda;
  transition-property: color;
  transition-duration: 400ms;
  transition-timing-function: ease-in-out;
}

.resume-link {
  padding: 10px 25px 15px 25px;
  margin-right: 20px;
  background: #2e947c;
  color: #ffffff;
  text-decoration: none;
  border: 1px solid #64ffda;
  font-size: 16px;
  font-weight: 600;
}

.resume-link:hover {
  color: #64ffda;
  background: transparent;
  border-radius: 2px solid #64ffda;
  border-radius: 10px;
  transition-duration: 0.5s;
  transition-property: all;
}

 .mobile-navbar-btn {
   display: none;

   .close-outline {
     display: none;
   }
 }

 .mobile-navbar-btn[name="close-outline"] {
   display: none;
 }


@media (max-width:769px) {
    .mobile-navbar-btn {
        display: inline-block;
        z-index: 999;
    }
    .mobile-navbar-btn  .mobile-navbar-icon {
       font-size: 30px;
       color: #a8b2d1;
     }

     .nav-right{
      overflow-x: hidden;
     
          width: 100vw;
            height: 100vh;
            position: absolute;
            top: -20px;
            left: 175px;
            background-color: #112240;
            display: flex;
              justify-content: center;
              align-content: center;
              flex-direction: column;
              text-align: center;

            
              transform: translateX(80%);

              transition: all 0.4 ease-in-out;

              visibility: hidden;
                opacity: 0;


     }

     .nav-right li{
      
      margin-top: 15px;
      margin-left: -110px;
     }
     .nav-right li::before{
      content: "0" counter(item) ".";
      position: absolute;
      top: -10px;
      left: 30%;
      
       margin-right: 5px;
        color: #64ffda;
        font-weight: 600;
        font-size: 16px;
        text-align: right;
       

    
     }

     .nav-right li::before:nth-child(n+2){
      right: 15%;
      margin-right: 10px;
     }
     .nav-right .resume-link{
      margin-top: 50px;
      margin-bottom: -40px;
      margin-left: -100px;
     }

         
     .menu-outline{
      margin-left: -120px;
     
     }

     .active .mobile-navbar-icon{
        display: none;
          font-size:30px;
          position: absolute;
          top: 3%;
          right: 10%;
         color: #a8b2d1;
        z-index: 9999;
        transition: all 0.4s ease-in-out;
     }

         .active .close-outline {
          margin-top:10px ;
           display: inline-block;
           transition: all 0.4s ease-in-out;
         }

                 .active .nav-right {
                   visibility: visible;
                   opacity: 1;
                   transform: translateX(0);
                   z-index: 999;
                   transition: all 0.4s ease-in-out;
                 }

                
    }
    
